.titulo-tabs {
    color: var(--color-green);
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
}

.titulo-seccion {
    color: var(--color-green);
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1.5px;
    font-size: 22px;
}