<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="titulo-tabs ion-text-center">
      M O V I E S
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h5 class="ion-text-uppercase titulo-seccion">Now in theathers</h5>
      </ion-col>
    </ion-row>
    <app-slideshow-poster [movies]="recentMovies"></app-slideshow-poster>

    <ion-row>
      <ion-col>
        <h5 class="ion-text-uppercase titulo-seccion">Recent Movies</h5>
      </ion-col>
    </ion-row>
    <app-slideshow-backdrop [movies]="recentMovies"></app-slideshow-backdrop>

    <ion-row>
      <ion-col>
        <h5 class="ion-text-uppercase titulo-seccion">Popular Movies</h5>
      </ion-col>
    </ion-row>
    <app-slide-show-pares [movies]="popularMovies" (cargarMas)="cargarMas()"></app-slide-show-pares>

  </ion-grid>

</ion-content>