<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="titulo-tabs ion-text-center">
      F A V ' S
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" class="ion-padding">

  <div *ngFor="let categoria of favoritoGenero">
    <ion-grid fixed *ngIf="categoria.pelis.length > 0">
      <ion-row>
        <ion-col>
          <h5 class="titulo-seccion">{{categoria.genero}}</h5>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [movies]="categoria.pelis"></app-slideshow-poster>
    </ion-grid>
  </div>

</ion-content>